body {
    padding-top: 25px;
}

.tt-dataset-stations-lookup, .stationName {
    text-transform: capitalize;
}

table.table-header-colour thead th {
    background-color: #EEE;
}

div#title {
    font-size: large;
}

    div#title span.xl {
        font-weight: bold;
        font-size: x-large;
    }

@media (max-width: 768px) {
    div#title {
        font-size: 14px;
        padding-left: 10px;
    }

        div#title span.xl {
            font-weight: bold;
            font-size: 14px;
        }

    .pager {
        margin: 0px !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    span.xs {
        font-size: small;
    }

    .glyphicon {
        display: none !important;
    }

    h1 {
        font-size: x-large;
    }

    p.info-text {
        font-size: x-small;
    }

    footer {
        font-size: xx-small;
    }

    hr {
        margin: 0;
    }
}
