<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Search for delays to trains in the United Kingdom on the National Rail Network" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/Content/app/typeahead-fix.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/Content/app/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% if site.showads %}
    <style>
        .traindelayed-responsive {
            width: 320px;
            height: 50px;
            margin-left: -15px;
        }

        @media(min-width: 500px) {
            .traindelayed-responsive {
                width: 468px;
                height: 60px;
            }
        }

        @media(min-width: 800px) {
            .traindelayed-responsive {
                width: 728px;
                height: 90px;
            }
        }
    </style>
    {% endif %}
    {% include analytics.html %}
</head>
