<script type="text/javascript" src="{{ site.baseurl }}/Scripts/libs.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/Scripts/app/common.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/Scripts/app/webApi.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/Scripts/app/Tocs.js"></script>
<script type="text/javascript">
    TrainNotifier.Common.serverSettings = {
        apiUrl: "{{ site.api }}",
        trainLink: "{{ site.trainurl }}",
        apiName: "{{ site.apiname }}"
    };
</script>
{% if page.js %}{% for item in page.js %}
<script type="text/javascript" src="{{ site.baseurl }}/Scripts/{{ item.src }}"></script>
{% endfor %}{% endif %}