
.stationName {
    text-transform: capitalize;
}

table.table-header-colour thead th {
    background-color: #EEE;
}

div#title {
    font-size: large;
}

    div#title span.xl {
        font-weight: bold;
        font-size: x-large;
    }

@media (max-width: 480px) {
    div#title {
        font-size: 14px;
        padding-left: 10px;
    }

        div#title span.xl {
            font-weight: bold;
            font-size: 14px;
        }
}