@{
    Layout = "~/_Layout.cshtml";
}
<div class="container">
    <div class="hero-unit">
        <h1>Coming soon ...</h1>
        <br />
        <ul>
            <li><a href="http://www.trainnotifier.co.uk">http://www.trainnotifier.co.uk</a></li>
            <li><a href="https://github.com/blueghostuk/traindelayed">https://github.com/blueghostuk/traindelayed</a></li>
        </ul>
    </div>
</div>
