@{
    Layout = "~/_Layout.cshtml";
}
@using System.Web.Optimization;
@section CustomCss{
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        .span12 {
            padding-left: 25px;
        }
    </style>
}
@section TopMenu{
    <li><a href="~/index">Home</a></li>
    <li class="active"><a>Search Resuls</a></li>
}
<div class="row-fluid">
    <div class="span12">
        <div class="row alert alert-info hide" id="no-results-row">
            <strong>No Results Found</strong>
        </div>
        <div class="progress progress-striped active hide">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="row" id="title" style="margin-top: 5px; font-size: large;" data-bind="visible: Text">
            <span data-bind="text: Text" class="stationName" style="font-weight: bold; margin-left: 5px;">
                Trains from Birmingham New Street to Five Ways
            </span>
            <hr style="margin: 5px 0px;" />
        </div>
        <div class="row">
            <table class="table table-hover table-bordered" id="search-results">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="4">Calling At</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>TOC</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Station</th>
                        <th>Expected Arrival</th>
                        <th>Actual Arrival</th>
                        <th>Delay</th>
                        <th>Web Link</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $data">
                    <tr>
                        <td data-bind="text: id"></td>
                        <td data-bind="text: tocCode, attr: { title : tocName }"></td>
                        <td data-bind="text: from" class="stationName"></td>
                        <td data-bind="text: to" class="stationName"></td>
                        <td data-bind="text: callingAt" class="stationName"></td>
                        <td data-bind="text: expectedArrival"></td>
                        <td data-bind="text: actualArrival"></td>
                        <td data-bind="text: delay"></td>
                        <td data-bind="text: webLink"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section FooterJs{
    <script type="text/javascript">
        var server = "@System.Configuration.ConfigurationManager.AppSettings["server"]";
        var apiPort = "@System.Configuration.ConfigurationManager.AppSettings["apiPort"]";
    </script>

    @Scripts.Render("~/bundles/search-results")
}